img{
    max-width: 300px;
}
.Skills{
    margin: 30px;
}
.Skills-technologies{
    display: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Skills-icon{
    margin-right: 40px;
    margin-top: 30px;
    margin-left: 40px;
}

.Skills-education{
    margin: 50px;
}

.Skills-education img{
    padding: 30px;
}
