.resume-container{
    /* background-image: url("../../images/resume.jpg"); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover; 
    height: 100vh;
}
.resume{
    transition: all .5s ease-in-out;
    transform: translateY(-30px);
    
}
