.Portfolio-card{
    background-color: blue;
    width: 300px;
    padding: 60px;
    margin-right: 0px
}

.Portfolio-name{

}

.Portfolio-image{

}

.Portfolio-role{

}

.Portfolio-tech{

}

.Portfolio-description{

}

.Portfolio-github{

}

.Portfolio-app{

}


.cards {
    margin: 55px;
   
    height: 75vh;
    justify-content: space-evenly;
}
.portfolio {
    margin: 100px;
}
.tech-icons{
    margin: 8px;
}

.relocate {
    size: 50px;
}