.Portfolio-card{
    background-color: grey;
    width: 300px;
    padding: 60px;
    margin-right: 0px;
    margin-bottom: 2rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0, 0.56);
}

.Portfolio-name{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 1.5rem;
}

.Portfolio-image{

}

.Portfolio-role{

}

.Portfolio-tech{
    margin: 8px;
}

.Portfolio-description{

}

.Portfolio-github{
    size: 50px;
}

.Portfolio-app{
    size: 50px;
}


.cards {
    margin: 55px;
   
    height: 75vh;
    justify-content: space-evenly;
}
.portfolio {
    margin: 100px;
}
.tech-icons{
    
}

.relocate {
   
}