*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body {
    background: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5 ease-in-out;
    border: 3px solid #fff;
}