p{
    font-size: 20px;
    color: black;
    padding: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aboutme-picture{
    background-color: #e4ced0;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

.aboutme-text{
    margin-top: 70px;
    background-color: #e4ced0;
    position: absolute;
}

.text{
   
    font-size: 12pt;
}

.contact-icon{
    margin: 10px;

}

.links{
    top: 250px;
}

#profile-picture{
    height: 350px; 
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

