p{
    font-size: 20px;
    color: black;
    padding: 20px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2{
    font-size: 12pt;
    padding-top: 15px;
}

.aboutme-container {
    margin-top: 150px;
}
.aboutme-picture{
    background-color: #f0e4e4;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    height: 60vh;
}

.aboutme-text{
    margin-top: 70px;
    margin-right: 70px;
    background-color: #dec3c3;
    position: absolute;
    height: 60vh;
}

.text-bio{
    padding: 50px;
    font-size: 13pt;
}

.contact-icon{
    margin: 10px;

}

.links{
    top: 250px;
}

#profile-picture{
    height: 350px; 
    padding-top: 20px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

@media only screen and (max-width: 500px) {
    .buffer{
        margin:50px;
    }
    }

